@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Tenor+Sans&display=swap");

:root {
  --main-font: "Inter";
  --decor-font: "Tenor Sans";

  --18px: 18px;
  --20px: 20px;
  --24px: 24px;
  --32px: 32px;
  --48px: 48px;

  --black: #020105;
  --green: #5d7506;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

html {
  overflow-x: hidden;
}
body {
  font-family: var(--main-font) !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.slide__img {
  height: 680px;
  object-fit: cover;
  width: 100%;
}
.home,
.nav__wrap {
  background: var(--black);
  color: white;
}
.nav__wrap,
.con__wrap {
  padding: 0 !important;
}
.nav {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
}
.nav__brand {
  margin-bottom: 120px;
}
.nav__links {
  display: flex;
  flex-direction: column;
}
.nav__link,
.lang__link {
  font-size: var(--24px);
  margin-bottom: 24px;
  text-decoration: none;
  color: unset;
  font-family: var(--decor-font);
  opacity: 0.7;
  transition: 0.3s;
}
.nav__link:hover,
.lang__link:hover {
  opacity: 1;
  color: unset;
}
.home__content {
  padding: 32px 0 120px 0;
  display: flex;
  justify-content: space-between;
}
.home__title {
  font-size: 52px;
  line-height: 62px;
  font-family: var(--decor-font);
  max-width: 80%;
  margin-bottom: 1rem;
}
.home__sub {
  font-size: var(--24px);
  opacity: 0.7;
  font-family: var(--decor-font);
}
.lang__change {
  display: flex;
  gap: 24px;
}
.nav__con a {
  text-decoration: none;
  font-size: var(--24px);
  font-family: var(--decor-font);
  color: white;
  margin-bottom: 24px;
  display: block;
}
.nav__touch a {
  font-family: var(--decor-font);
  color: white;
  text-decoration: none;
  font-size: var(--18px);
}
.slide__btn::after {
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns {
  margin-top: 2rem;
  display: flex;
  gap: 48px;
}
.slide__btn {
  position: static;
  transition: 0.3s;
}
.slide__progress {
  bottom: 0;
  top: auto !important;
}
.swiper-pagination-progressbar-fill {
  background: white !important;
}
.cursor {
  border: 1px solid var(--green);
  height: 120px;
  width: 120px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 50%;
  pointer-events: none;
}
.about {
  padding: 80px 0 140px 0;
}
.about__video {
  height: 750px;
  width: 100%;
  object-fit: cover;
}
.about__sup {
  font-size: var(--24px);
  line-height: 32px;
  font-family: var(--decor-font);
  opacity: 0.7;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.about__title {
  font-size: 42px;
  line-height: 48px;
  font-family: var(--decor-font);
  margin-bottom: 58px;
  max-width: 90%;
}
.item__top {
  display: flex;
  align-items: center;
}
.item__logo {
  margin-right: 1rem;
}
.big__num {
  font-family: var(--decor-font);
  font-size: 60px;
  margin-bottom: 0.5rem;
}
.item__txt {
  font-size: var(--18px);
  line-height: 32px;
  opacity: 0.7;
}
.item__btn {
  font-family: var(--decor-font);
  color: white;
  font-size: var(--18px);
  background: var(--green);
  display: flex;
  align-items: center;
  border: none;
  height: 70px;
  width: 270px;
  justify-content: center;
}
.item__btn img {
  margin-left: 24px;
}
.anime-btn img {
  transition: 0.3s;
}
.anime-btn:hover img {
  transform: translateX(10px);
}
.projekt {
  padding: 32px 0 80px 0;
  position: relative;
}
.projektSwiper {
  height: 620px;
}
.title {
  font-size: var(--48px);
  font-family: var(--decor-font);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.projekt__img {
  height: 515px;
  object-fit: cover;
  width: 100%;
  transition: 2s;
}
.swiper-slide-active .projekt__img {
  height: 615px;
}
.projekt__content {
  padding-top: 24px;
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.pro__slide-title {
  font-size: var(--32px);
  line-height: 42px;
  margin-bottom: 1rem;
  font-family: var(--decor-font);
}
.pro__slide-sub {
  font-size: var(--18px);
  opacity: 0.6;
  font-family: var(--decor-font);
  display: flex;
  align-items: center;
  gap: 12px;
}
.slide__liltitle {
  font-size: var(--24px);
  margin-bottom: 0.5rem;
  font-family: var(--decor-font);
}
.pro__slide-txt {
  line-height: 24px;
  opacity: 0.7;
  max-width: 270px;
}
.main__row {
  display: flex;
}
.con__wrap {
  width: 77%;
}
.nav__wrap {
  width: 23%;
}
.green__btns {
  position: absolute;
  bottom: 10px;
  right: 19%;
  display: flex;
  gap: 3rem;
  z-index: 1;
}
.green__btn::after {
  color: var(--green);
  border-color: var(--green);
}
.news {
  padding: 56px 0;
}
.news__pic {
  height: 360px;
  object-fit: cover;
  width: 100%;
}
.news__card {
  border: 1px solid #e0e0e0;
  /* height: 530px; */
}
.news__card:first-child {
  margin-bottom: 1.5rem;
}
.news__txt {
  font-size: var(--24px);
  font-family: var(--decor-font);
  line-height: 32px;
  color: black;
  max-width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.news__wrap-link {
  text-decoration: none;
}
.news__link {
  color: var(--green);
  text-decoration: underline;
}
.news__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.news__date {
  color: var(--black);
  opacity: 0.7;
}
.news__mid {
  padding: 16px 24px;
}
.serv__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.serv__pic {
  height: 230px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.serv__txt {
  font-size: var(--20px);
  line-height: 32px;
  color: black;
  text-align: center;
  font-family: var(--decor-font);
  transition: 0.3s;
}
.serv__card-link {
  text-decoration: none;
}
.serv__card-link:hover .serv__txt {
  color: var(--green);
}
.partners {
  padding: 56px 0 98px 0;
}
.partners__slide {
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 45px;
  height: 180px;
}
.partners__pic {
  width: 200px;
  height: auto;
  object-fit: contain;
}
